/*-- scss:defaults --*/

// Colors

$theme-blue: #084873;
$theme-lightblue: #cfecff;
$theme-grey: #677281;
$theme-sand: #E6DDCE;
$theme-darksand: #e4c590;


$link-color: lighten($theme-blue, 10%);

/*-- scss:rules --*/

// Sidebar

// Hide "index.html" from the sidebar
#quarto-sidebar > div.sidebar-menu-container > ul > li:nth-child(1) > div > a > span {
  display: none !important;
}

// Chapter 1
.quarto-sidebar-section-1 > .sidebar-item {
  // Remove indentation or padding that makes it look nested
  padding-left: 0 !important;
  margin-left: 0 !important;
  font-size: larger !important;
  // Optionally, override any background or border styles that indicate nesting 
  background: none !important;
  border: none !important;
  // If there are list styles or bullets, remove them
  content: none !important;
}

// Chapter numbers
.chapter-number::before {
  content: "Chapter ";
}
.chapter-number::after {
  content: " | ";
}
.chapter-number {
  color: $theme-grey;
  font-weight: 500;
}

// Titles & headers
.title, .sidebar-title {
  color: $theme-blue;
  font-weight: 600;
  text-align: center; 
}

// Style PART titles in sidebar
.sidebar-item-section .sidebar-item-container {
  &:has(.text-start:not(:empty)) {  // Target only non-empty PART titles
    background-color: $theme-sand;
    padding: 8px;
    margin-top: 12px;
    margin-bottom: 8px;
    border-radius: 4px;
  }
}

// Main page

.subtitle.lead {
  color: $theme-grey;
  font-weight: 550;
  font-size: 25px;
  text-align: center;
}

h1 {
  padding-top: 24px !important;
}

h2 {
  color: lighten($theme-blue, 5%) !important;
  padding-top: 26px !important;
}

.manuscript-title p {
  color: lighten($theme-blue, 5%) !important;
  font-size: 22px;
  font-weight: 600;
  padding-top: 10px !important;
  padding-left: 15px;
  padding-right: 15px;
  background-color: lighten($theme-sand, 5%);
}

.manuscript-authors p {
  padding-bottom: 10px !important;
  padding-left: 15px;
  padding-right: 15px;
  background-color: lighten($theme-sand, 5%);
}


// Paragraphs 
p {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding-top: 8px !important;
  padding-bottom: 0px !important;
  text-align: justify;
}

.quotify p {
  text-align: right !important;
}

//Tables
.thesis_tbl .row_group {
  background-color: lighten($theme-sand, 10%) !important;
  padding-top: 8px !important; 
  padding-bottom: 8px !important;
  border-top-style: solid; 
  border-top-width: 1px; 
  border-top-color: $theme-sand; 
  border-bottom-style: solid; 
  border-bottom-width: 1px; 
  border-bottom-color: $theme-sand; 
  border-left-style: none; 
  border-right-style: none; 
  vertical-align: middle;
  text-align: left;
}

.thesis_tbl .accent_row {
  background-color: lighten($theme-sand, 10%) !important;
}

// Figures
.quarto-figure {
  margin-top: 25px;  // Space above the figure
}

// Hide previous chapter title from bottom navigation
#quarto-content > nav.page-navigation > div.nav-page.nav-page-previous > a > span {
  display: none !important;
}